*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-style: normal; }

html {
  font-size: 62.5%; }

button,
a {
  /* This resets default button styles */
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@keyframes rotateForever {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

:root {
  --main-color: #3498db;
  --background-color: #ecf0f1;
  --font-family: "Arial", sans-serif;
  --color-grey-50: #656266;
  --color-grey-100: #616161;
  --color-grey-200: #322f33;
  --color-grey-300: #1c181d;
  --color-grey-g100: #b5b5b5;
  --color-grey-g200: #303030;
  --color-font-light: #e3e3e3;
  --color-font-mid: #616161;
  --color-font-mid2: var(--color-grey-100);
  --color-font-dark: #475467;
  --color-stroke-50: #ebebeb;
  --color-stroke-100: #e1e1e1;
  --color-stroke-200: #616161;
  --color-state-hover: #f7f7f7;
  --color-state-pressed: #f0f0f0;
  --color-state-focused: #005bd3;
  --color-background-white: #ffffff;
  --color-background: #f1f1f1;
  --color-green: #36fba1;
  --color-special-1: #323232;
  --color-special-2: #f3f3f3;
  --color-special-3: #404040;
  --color-special-4: #2a2a2a;
  --color-special-5: #2b2b2b;
  --color-special-6: #e7e7e7;
  --color-special-7: #e0e0e0;
  --default-font-size: 12px;
  --medium-font-size: 13px;
  --large-font-size: 14px;
  --default-letter-spacing: 0%;
  --default-line-height: 130%;
  --large-line-height: 140%;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600; }

body {
  color: var(--main-color);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
  font-family: "Inter", sans-serif;
  background-color: var(--color-background); }

.header {
  background-color: #1a1a1a;
  height: 56px;
  padding: 12px 16px;
  color: var(--color-grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content; }
  .header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7.517px; }
  .header__searchbox {
    display: flex;
    height: 32px;
    background-color: red;
    align-items: center;
    padding: 8px;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid var(--color-stroke-200);
    background-color: var(--color-grey-200); }
    .header__searchbox:hover {
      border: 1px solid var(--color-stroke-100); }
    .header__searchbox:focus-within {
      border: 2px solid var(--color-background-white);
      background-color: var(--color-grey-g200); }
    .header__searchbox--input {
      background-color: var(--color-grey-200);
      border: none;
      width: 100%;
      color: var(--color-grey-g100); }
    .header__searchbox--input:placeholder {
      color: var(--color-grey-g100);
      font-size: var(--medium-font-size);
      font-weight: var(--medium-font-weight);
      line-height: var(--large-line-height); }
    .header__searchbox--input:focus {
      outline: none; }
    .header__searchbox--icon {
      background-color: var(--color-grey-200);
      color: var(--color-grey-g100); }
      .header__searchbox--icon svg {
        width: 20px;
        height: 20px; }
  .header__profile {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 8px; }
    .header__profile button:hover {
      background-color: #616161;
      transition: background-color 0.3s ease-in-out; }
    .header__profile button:active, .header__profile button:focus {
      background-color: var(--color-grey-50);
      transition: background-color 0.3s ease-out; }
    .header__profile button:focus {
      box-shadow: 0px 0px 0px 3px var(--color-state-focused), 0px 0px 0px 1px black;
      transition: box-shadow 0.3s ease-in; }
    .header__profile--notification {
      display: flex;
      width: 32px;
      height: 32px;
      padding: 6px;
      justify-content: center;
      align-items: center;
      z-index: 5;
      border-radius: 8px;
      background: var(--color-grey-g200); }
      .header__profile--notification svg {
        color: var(--color-font-light); }
    .header__profile--info {
      display: flex;
      padding: 2px 2px 2px 8px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      z-index: 5;
      background: var(--grey-grey-200, #303030);
      font-size: var(--small-font-size);
      font-weight: var(--medium-font-weight);
      line-height: var(--small-line-height); }
      .header__profile--info .profilename {
        color: var(--color-font-light); }
      .header__profile--info .avatar {
        display: flex;
        height: 28px;
        padding: 9px 5px 10px 5px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: var(--color-green);
        color: rgba(0, 0, 0, 0.4);
        text-align: center; }

.overlay {
  background-color: transparent;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 4; }
  .overlay__active {
    display: block; }

.notification__menu {
  background-color: var(--color-background-white);
  border: 1px solid var(--color-stroke-50);
  padding: 1.6rem;
  border-radius: 1.4rem;
  z-index: 5;
  position: absolute;
  right: 1.6rem;
  margin-top: 0.8rem;
  display: none; }
  .notification__menu--card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem; }
  .notification__menu--title {
    font-size: var(--large-font-size);
    line-height: var(--large-line-height);
    font-weight: var(--semibold-font-weight);
    color: var(--color-font-dark); }
  .notification__menu--buttongroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    color: black; }
  .notification__menu--banner {
    background-color: blue;
    padding: 1.6rem;
    background-color: var(--color-state-hover);
    color: var(--color-font-mid);
    font-size: var(--medium-font-size);
    line-height: var(--large-line-height);
    font-weight: var(--semibold-font-weight); }
  .notification__menu--menuitem {
    color: var(--color-font-mid);
    border-radius: 1px solid transparent; }
  .notification__menu--menuitem:focus, .notification__menu--menuitem:active {
    outline: none;
    border: 1px solid var(--color-state-focused);
    border-radius: 4px; }

.notification__menu.menu-active {
  display: block; }

.profile__menu.menu-active {
  display: block; }

.profile__menu {
  transition: all 0.3s;
  width: 32rem;
  background-color: var(--color-background-white);
  z-index: 5;
  padding: 1.6rem;
  border-radius: 1.4rem;
  position: absolute;
  right: 1.6rem;
  margin-top: 0.8rem;
  display: none;
  border: 1px solid var(--color-stroke-50);
  overflow: hidden; }
  .profile__menu--detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1.2rem 0.4rem 0.8rem;
    background-color: var(--color-state-hover);
    border-radius: 0.8rem; }
    .profile__menu--detail svg {
      color: var(--color-font-dark);
      transform: scale(0.6, 0.6); }
  .profile__menu--info {
    display: flex;
    align-items: center; }
  .profile__menu--avatar {
    background-color: var(--color-green);
    color: black;
    border-radius: 5.25px;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 10.5px;
    font-weight: var(--medium-font-weight);
    line-height: var(--large-line-height);
    display: flex;
    align-items: center;
    justify-content: center; }
  .profile__menu--name {
    padding: 0.8rem;
    font-size: var(--medium-font-size);
    line-height: var(--large-line-height);
    font-weight: var(--semibold-font-weight);
    color: var(--color-font-dark); }
  .profile__menu--menuitem {
    padding: 0.6rem;
    font-size: var(--medium-font-size);
    line-height: var(--large-line-height);
    font-weight: var(--regular-font-weight);
    color: var(--color-font-dark);
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 100%;
    border-radius: 0.8rem;
    border: 2px solid transparent;
    position: relative;
    display: flex;
    align-items: center; }
    .profile__menu--menuitem svg {
      margin-right: 0.8rem; }
    .profile__menu--menuitem:hover {
      background-color: var(--color-state-hover); }
    .profile__menu--menuitem:active {
      background-color: var(--color-state-pressed); }
    .profile__menu--menuitem:focus {
      outline: none;
      background-color: var(--color-background-white);
      border: 2px solid var(--color-state-focused);
      border-radius: 4px; }
  .profile__menu--dividerline {
    border-bottom: 0.75px solid var(--color-stroke-100);
    transform: scaleX(7); }
  .profile__menu--userdetails {
    padding: 0.8rem; }
    .profile__menu--userdetails p:first-child {
      font-size: var(--medium-font-size);
      line-height: var(--large-line-height);
      font-weight: var(--medium-font-weight);
      color: var(--color-font-dark); }
    .profile__menu--userdetails p:nth-child(2) {
      font-size: var(--small-font-size);
      line-height: var(--small-line-height);
      font-weight: var(--regular-font-weight);
      color: var(--color-grey-100); }

.trialModal {
  height: 15vh;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }
  .trialModal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 56vw;
    min-height: min-content;
    padding-left: 1.6rem;
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
    background-color: var(--color-grey-300);
    color: var(--color-font-light);
    border-radius: 0.8rem; }
  .trialModal__text {
    font-size: var(--medium-font-size);
    line-height: var(--large-line-height);
    font-weight: var(--medium-font-weight);
    flex: 0.95; }
  .trialModal__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    font-weight: var(--semibold-font-weight);
    padding: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.6rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-background-white);
    color: var(--color-font-dark);
    box-shadow: inset 0 0 -1px 0 #b5b5b5;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .trialModal__button:hover {
      background-color: var(--color-state-hover);
      box-shadow: inset 0 0 -0.1rem 0 #b5b5b5; }
    .trialModal__button:active {
      background-color: var(--color-state-hover);
      box-shadow: inset 0 2 1.5px #e2e2e2; }
    .trialModal__button:focus {
      box-shadow: inset 0 0 -0.1rem 0 #b5b5b5, 0 0 0 1px white, 0 0 0 3px #005bd3;
      border: 1px solid var(--color-state-focused); }
  .trialModal__button__close {
    background-color: transparent;
    color: white;
    box-shadow: none;
    filter: grayscale(100%);
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid transparent; }
    .trialModal__button__close:focus {
      border: 1px solid var(--color-state-focused);
      filter: none;
      border-radius: 3px; }

.setup {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .setup .container {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 56vw;
    padding-top: 1.55rem;
    padding-bottom: 0.8rem;
    background-color: var(--color-background-white);
    color: var(--color-font-light);
    border-radius: 2rem;
    position: relative; }
  .setup summary {
    display: block;
    cursor: pointer; }
  .setup__guide {
    width: 100%;
    color: var(--color-font-dark);
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-bottom: 1.5rem; }
    .setup__guide--title {
      font-size: var(--large-font-size);
      line-height: var(--large-line-height);
      font-weight: var(--semibold-font-weight);
      width: 100%;
      margin-bottom: 0.4rem; }
    .setup__guide--text {
      font-size: var(--medium-font-size);
      font-weight: var(--regular-font-weight);
      line-height: var(--large-line-height);
      width: 100%;
      margin-bottom: 1.6rem; }
    .setup__guide--progressbar {
      width: 100%;
      font-size: var(--small-font-size);
      line-height: var(--small-line-height);
      font-weight: var(--regular-font-weight);
      display: flex;
      align-items: center;
      gap: 0.8rem; }
      .setup__guide--progressbar progress {
        width: 7.2rem;
        height: 0.4rem;
        border-radius: 2.8rem; }
        .setup__guide--progressbar progress::-webkit-progress-bar {
          background-color: var(--color-font-light);
          border-radius: 2.8rem; }
        .setup__guide--progressbar progress::-webkit-progress-value {
          background-color: var(--color-grey-300);
          border-radius: 2.8rem; }
    .setup__guide--dropdown {
      width: 20px;
      height: 20px;
      font-size: 1.5rem;
      display: block;
      float: right;
      margin-top: -1rem;
      margin-right: 1rem;
      background-image: url(https://crushingit.tech/hackathon-assets/icon-arrow-down.svg);
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0.5rem;
      top: 2.9rem;
      transition: transform 0.3s ease-in-out; }
      .setup__guide--dropdown:hover {
        background-color: var(--color-state-hover); }
      .setup__guide--dropdown:active {
        background-color: var(--color-state-pressed); }
      .setup__guide--dropdown:focus {
        outline: none;
        border: 2px solid var(--color-state-focused); }
  .setup .accordion {
    width: 100%; }
    .setup .accordion .accordion-card:last-child {
      margin-bottom: 0; }
    .setup .accordion > div {
      margin-bottom: 1.5rem; }
    .setup .accordion-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .setup .accordion-image {
      width: 15.6rem;
      height: 12rem;
      right: 0;
      top: 0;
      background-color: inherit;
      -webkit-mask-image: linear-gradient(black, black 80%, transparent, transparent 90%);
      mask-image: linear-gradient(black, black 80%, transparent, transparent 90%);
      mask-mode: alpha; }
      .setup .accordion-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .setup .accordion-trigger {
      color: var(--color-font-dark);
      width: 75%;
      font-size: var(--medium-font-size);
      line-height: var(--large-line-height);
      font-weight: var(--semibold-font-weight);
      position: relative;
      margin-left: 4.4rem;
      cursor: pointer;
      margin-bottom: 0.8rem;
      display: block; }
    .setup .accordion-button {
      background-color: transparent;
      border: 1px solid blue;
      transform: translate(-5px -5px);
      position: absolute;
      z-index: 800;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .setup .accordion-icon {
      width: 2rem;
      height: 2rem;
      position: absolute;
      color: blue;
      left: -2.6rem;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none"><circle cx="14" cy="13" r="12" stroke="%238a8a8a" stroke-width="2.5"  stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="4 6"/></svg>');
      background-repeat: no-repeat;
      transition: background 0.3s ease-in-out; }
      .setup .accordion-icon:hover {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none"><circle cx="14" cy="13" r="12" stroke="%238a8a8a" stroke-width="2.5" /></svg>');
        background-repeat: no-repeat; }
      .setup .accordion-icon:active, .setup .accordion-icon:focus {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none">   <path d="M26 14C26 16.3734 25.2962 18.6935 23.9776 20.6668C22.6591 22.6402 20.7849 24.1783 18.5922 25.0866C16.3995 25.9948 13.9867 26.2324 11.6589 25.7694C9.33114 25.3064 7.19295 24.1635 5.51472 22.4853C3.83649 20.8071 2.6936 18.6689 2.23058 16.3411C1.76755 14.0133 2.00519 11.6005 2.91345 9.4078C3.8217 7.21509 5.35977 5.34094 7.33316 4.02236C9.30655 2.70379 11.6266 2 14 2" stroke="%238a8a8a" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-repeat: no-repeat;
        animation: rotateForever 1s linear infinite; }
      .setup .accordion-icon.accordion-checked {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32" fill="%231c181d"><circle cx="12.5" cy="12.5" r="12" stroke="%23000000" stroke-width="1" /> <path d="M17.2738 8.52629C17.6643 8.91682 17.6643 9.54998 17.2738 9.94051L11.4405 15.7738C11.05 16.1644 10.4168 16.1644 10.0263 15.7738L7.3596 13.1072C6.96908 12.7166 6.96908 12.0835 7.3596 11.693C7.75013 11.3024 8.38329 11.3024 8.77382 11.693L10.7334 13.6525L15.8596 8.52629C16.2501 8.13577 16.8833 8.13577 17.2738 8.52629Z" fill="%23ffffff"></path></svg>');
        background-repeat: no-repeat;
        animation: none; }
        .setup .accordion-icon.accordion-checked:focus {
          border: 2px solid var(--color-state-focused);
          border-radius: 6px; }
      .setup .accordion-icon:focus {
        outline: none;
        border-radius: 0.6rem; }
    .setup .accordion-card {
      background-color: var(--color-special-2);
      border-radius: 1.5rem;
      padding-top: 0.8rem;
      padding-bottom: 1.2rem;
      padding-left: 36px;
      padding-right: 0.8rem;
      display: flex;
      align-items: stretch;
      margin-bottom: 0;
      margin-top: 1rem;
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
      .setup .accordion-card .accordion-trigger {
        margin-left: 0; }
    .setup .accordion-panel {
      color: var(--color-font-mid);
      font-weight: var(--medium-font-weight);
      font-size: var(--medium-font-size);
      line-height: var(--large-line-height);
      width: 100%; }
      .setup .accordion-panel a {
        color: var(--color-state-focused);
        font-size: var(--large-font-size);
        font-weight: var(--medium-font-weight);
        text-decoration: none; }
      .setup .accordion-panel a:visited {
        text-decoration: none; }
      .setup .accordion-panel-button {
        background-color: var(--color-special-3);
        color: var(--color-font-light);
        border-radius: 0.6rem;
        font-size: var(--small-font-size);
        line-height: var(--small-line-height);
        letter-spacing: var(--default-letter-spacing);
        font-weight: var(--semibold-font-weight);
        border-top: 1.5px solid var(--color-stroke-200);
        border-left: 1.5px solid var(--color-stroke-200);
        border-right: 1.5px solid var(--color-stroke-200);
        border-bottom: none;
        padding: 0.3rem 0.6rem;
        box-shadow: 0 2px 0px 0px black, 0 1px 0 1.5px #212121, 0 0 0 1.5px #212121; }
      .setup .accordion-panel-button:hover {
        background-color: var(--color-special-4); }
      .setup .accordion-panel-button:active {
        outline: none;
        background-color: var(--color-special-5);
        box-shadow: inset 0 3px 0 0 black, 0 0 0 1.5px #212121;
        transition: box-shadow 0.5s ease-in-out; }
      .setup .accordion-panel-button:focus {
        background-color: var(--color-special-3);
        box-shadow: inset 0 0 0 1.5px #212121, 0 0 0 3px white, 0 0 0 5px #0056c6; }
      .setup .accordion-panel-button-transparent {
        color: var(--color-font-dark);
        font-size: var(--small-font-size);
        line-height: var(--small-line-height);
        font-weight: var(--semibold-font-weight);
        margin-left: 2.5rem;
        border-radius: 0.6rem;
        padding: 0.3rem 0.6rem; }
      .setup .accordion-panel-button-transparent:hover {
        background-color: var(--color-special-6); }
      .setup .accordion-panel-button-transparent:active {
        background-color: var(--color-special-7); }
      .setup .accordion-panel-button-transparent:focus {
        outline: none;
        background-color: var(--color-background-white);
        border: 2px solid var(--color-state-focused); }

details[open] .setup__guide--dropdown {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out; }
