*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  // This defines what one rem is
  font-size: 62.5%;
}

button {
  /* This resets default button styles */
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

:root {
  --main-color: #3498db;
  --background-color: #ecf0f1;
  --font-family: "Arial", sans-serif;
  --color-grey-50: #656266;
  --color-grey-100: #616161;
  --color-grey-200: #322f33;
  --color-grey-300: #1c181d;
  --color-font-light: #e3e3e3;
  --color-font-mid: #616161;
  --color-font-dark: #475467;
  --color-stroke-50: #ebebeb;
  --color-stroke-100: #e1e1e1;
  --color-stroke-200: rgba(255, 255, 255, 0.2);
  --color-state-hover: #f7f7f7;
  --color-state-pressed: #f0f0f0;
  --color-state-focused: #005bd3;
  --color-background-white: #ffffff;
  --color-background: #f1f1f1;
  --color-green: #36fba1;
  --color-special-1: #323232;
  --color-special-2: #f3f3f3;
  --color-special-3: #404040;
  --color-special-4: #2a2a2a;
  --color-special-5: #2b2b2b;
  --default-font-size: 1.2rem;
  --medium-font-size: 1.3rem;
  --default-letter-spacing: 0%;
  --large-font-size: 1.4rem;
  --default-line-height: 130%;
  --large-line-height: 140%;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
}

body {
  color: var(--main-color);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
}

.header {
  background-color: var(--color-grey-300);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 6rem;
  color: var(--color-grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;

  &__searchbox {
    display: flex;
    align-items: center;
    flex: 0.5;

    &--input {
      border-radius: 0.8rem;
      font-size: var(--medium-font-size);
      line-height: var(--large-line-height);
      letter-spacing: var(--default-letter-spacing);
      border: 1px solid var(--color-stroke-200);
      background-color: var(--color-grey-200);
      width: 100%;
      max-width: 48rem;

      outline: none;
      font-weight: 400;
      color: var(--color-font-light);
      padding: 0.8rem;
      padding-left: 3.5rem;

      &::placeholder {
        color: var(--color-grey-100);
      }

      &:hover {
        border: 1px solid var(--color-stroke-100);
      }

      &:focus,
      &:active {
        border: 1px solid white;
      }
    }

    &--icon {
      color: var(--color-grey-100);
      margin-left: 0.8rem;
      margin-right: -2.5rem;
      z-index: 10;
      height: 1.75rem;
      width: 1.5rem;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--color-font-light);

    .notification {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-grey-200);
      border-radius: 0.75rem;
      width: 3.5rem;
      margin-right: 1rem;

      &__icon {
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-font-light);
      }

      &:hover {
        background-color: var(--color-grey-100);
      }

      &:focus,
      &:active {
        background-color: var(--color-grey-50);
      }

      &:focus {
        outline: none;
        border: 2px solid var(--color-state-focused);
      }
    }

    .info {
      display: flex;
      background-color: var(--color-grey-200);
      align-items: center;
      border-radius: 0.75rem;
      border: 2px solid transparent;

      &:hover {
        background-color: var(--color-grey-100);
      }

      &:focus,
      &:active {
        background-color: var(--color-grey-50);
      }

      &:focus {
        outline: none;
        border: 2px solid var(--color-state-focused);
      }

      .profilename {
        padding: 0.8rem;
        font-weight: var(--medium-font-weight);
      }

      .avatar {
        color: black;
        margin-right: 0.2rem;
        padding: 0.65rem;
        border-radius: 0.75rem;
        background-color: var(--color-green);
        font-weight: var(--medium-font-weight);
      }
    }
  }
}

.trialModal {
  height: 15vh;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 56vw;
    min-height: min-content;
    padding-left: 1.6rem;
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
    background-color: var(--color-grey-300);
    color: var(--color-font-light);
    border-radius: 0.8rem;
  }

  &__text {
    font-size: var(--medium-font-size);
    line-height: var(--large-line-height);
    font-weight: var(--medium-font-weight);
    flex: 0.95;
  }

  &__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    font-weight: var(--semibold-font-weight);
    padding: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.75rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-background-white);
    color: var(--color-special-1);

    &:hover {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  &__button__close {
    background-color: transparent;
    color: white;
    box-shadow: none;
    filter: grayscale(100%);
    margin-right: 1rem;
    cursor: pointer;
    border: none;
  }
}

.setup {
  .container {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 56vw;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
    background-color: var(--color-background-white);
    color: var(--color-font-light);
    border-radius: 2rem;
    position: relative;
  }
  summary {
    display: block;
    cursor: pointer;
  }

  &__guide {
    width: 100%;
    color: var(--color-font-dark);

    &--title {
      font-size: var(--large-font-size);
      line-height: var(--large-line-height);
      font-weight: var(--semibold-font-weight);
      width: 100%;
      margin-bottom: 0.4rem;
    }

    &--text {
      font-size: var(--medium-font-size);
      font-weight: var(--regular-font-weight);
      line-height: var(--large-line-height);
      width: 100%;
      margin-bottom: 1.6rem;
    }

    &--progressbar {
      width: 100%;
      font-size: var(--small-font-size);
      line-height: var(--small-line-height);
      font-weight: var(--regular-font-weight);
    }

    &--dropdown {
      width: 20px;
      height: 20px;
      font-size: 1.5rem;
      display: block;
      float: right;
      margin-top: -1rem;
      margin-right: 1rem;
      background-image: url(https://crushingit.tech/hackathon-assets/icon-arrow-down.svg);
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0.5rem;
      top: 2.9rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        background-color: var(--color-state-hover);
      }

      &:active {
        background-color: var(--color-state-pressed);
      }

      &:focus {
        outline: none;
        border: 2px solid var(--color-state-focused);
      }
    }
  }

  .accordion {
    width: 100%;

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-image {
      // position: absolute;
      width: 15.6rem;
      height: 12rem;
      right: 0;
      top: 0;
    }
    &-trigger {
      color: var(--color-font-dark);
      font-size: var(--medium-font-size);
      line-height: var(--large-line-height);
      font-weight: var(--semibold-font-weight);
    }

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
     
    }
    &-title {
      padding-left: 2rem;
    }
    &-card {
      background-color: var(--color-special-2);
      border-radius: 1.5rem;
      padding-top: 0.8rem;
      padding-bottom: 1.2rem;
      padding-left: 2rem;
      padding-right: 0.8rem;
      display: flex;
      align-items: stretch;

      .accordion-title {
        padding-left: 0;
      
      }
    }

    &-panel {
      color: var(--color-font-mid);
      font-weight: var(--medium-font-weight);
      font-size: var(--medium-font-size);
      line-height: var(--large-line-height);
      width: 100%;

      a {
        color: var(--color-state-focused);
        font-size: var(--large-font-size);
        font-weight: var(--medium-font-weight);
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      &-button {
        background-color: var(--color-special-3);
        color: var(--color-font-light);
        border-radius: 0.6rem;
        font-size: var(--small-font-size);
        line-height: var(--small-line-height);
        letter-spacing: var(--default-letter-spacing);
        font-weight: var(--semibold-font-weight);
        border-top: 1.5px solid var(--color-stroke-200);
        border-left: 1.5px solid var(--color-stroke-200);
        border-right: 1.5px solid var(--color-stroke-200);
        border-bottom: none;
        padding: 0.3rem 0.6rem;
        box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 1),
          0 1px 0 1.5px rgba(33, 33, 33, 1), 0 0 0 1.5px rgba(33, 33, 33, 1);
      }

      &-button:hover {
        background-color: var(--color-special-4);
      }

      &-button:active {
        outline: none;
        background-color: var(--color-special-5);
        box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 1),
          0 0 0 1.5px rgba(33, 33, 33, 1);
        transition: box-shadow 0.5s ease-in-out;
      }

      &-button:focus {
        // outline: offset 0px 0px 0px 2px var(--color-state-focused);
        // border: 2px solid var(--color-state-focused);
        background-color: var(--color-special-3);
        box-shadow: inset 0 0 0 1.5px rgba(33, 33, 33, 1),
          0 0 0 3px rgba(255, 255, 255, 1), 0 0 0 5px rgba(0, 86, 198, 1);
      }
    }
  }
}

details[open] .setup__guide--dropdown {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
